{{ 'exclusives.css' | asset_url | stylesheet_tag }}
<!-- exclusives section start -->
<div class="exclusives-container">
  <div class="arc-title">
    <svg width="1332" height="289" viewBox="0 0 1332 289" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M108.723 150.101L91.5379 157.968L101.736 180.244L118.921 172.377L127.663 191.471L110.478 199.339L120.676 221.615L137.861 213.748L146.603 232.842L110.324 249.451L63.7022 147.615L99.981 131.006L108.723 150.101Z" fill="currentColor"/>
      <path d="M150.859 230.779L145.218 172.626L108.707 127.014L129.46 118.584L152.393 153.09L144.765 112.366L165.518 103.935L171.159 162.088L207.671 207.7L186.918 216.131L163.985 181.625L171.612 222.348L150.859 230.779Z" fill="currentColor"/>
      <path d="M219.707 133.028L215.212 120.213C212.061 111.23 210.474 108.819 206.114 110.348C201.755 111.877 202.021 114.751 205.172 123.735L221.111 169.18C224.262 178.164 225.849 180.574 230.209 179.045C234.569 177.516 234.303 174.642 231.152 165.659L226.657 152.844L246.474 145.894L251.431 160.029C258.892 181.299 253.145 193.255 237.159 198.862C221.174 204.468 209.218 198.722 201.758 177.452L184.892 129.364C177.432 108.094 183.179 96.1384 199.164 90.5317C215.149 84.9251 227.105 90.6719 234.565 111.942L239.523 126.077L219.707 133.028Z" fill="currentColor"/>
      <path d="M280.271 161.18L298.343 155.648L304.491 175.728L266.338 187.407L233.554 80.3129L253.634 74.1659L280.271 161.18Z" fill="currentColor"/>
      <path d="M331.503 52.6241L352.198 131.432C357.923 153.233 351.233 164.688 334.849 168.99C318.464 173.293 307.009 166.603 301.284 144.802L280.59 65.9939L300.901 60.6602L321.24 138.114C323.658 147.322 325.046 149.852 329.515 148.679C333.983 147.506 333.949 144.62 331.531 135.412L311.192 57.9578L331.503 52.6241Z" fill="currentColor"/>
      <path d="M382.479 87.5746C395.858 93.8667 405.687 99.632 410.124 120.301C414.267 139.601 409.275 151.699 391.344 155.548C373.412 159.398 363.387 153.388 356.6 121.768L377.132 117.36C380.599 133.512 383.103 135.839 386.936 135.016C390.769 134.193 391.002 131.279 389.592 124.709C387.887 116.77 385.813 113.778 375.192 108.326C363.466 102.395 351.516 98.0878 347.079 77.4187C343.229 59.4872 348.495 47.3312 365.742 43.6286C382.989 39.9261 393.328 48.7322 398.353 72.1389L377.821 76.5467C375.528 65.87 373.298 63.485 370.15 64.1608C367.002 64.8367 366.494 67.8094 367.611 73.0109C369.315 80.95 373.55 83.3343 382.479 87.5746Z" fill="currentColor"/>
      <path d="M401.401 37.8341L422.068 34.1075L441.943 144.33L421.276 148.056L401.401 37.8341Z" fill="currentColor"/>
      <path d="M465.804 27.3107L486.586 24.2972L489.081 137.107L460.678 141.225L431.027 32.3534L451.81 29.3399L471.754 117.126L465.804 27.3107Z" fill="currentColor"/>
      <path d="M537.935 40.1184L519.134 42.0503L521.638 66.422L540.439 64.49L542.586 85.38L523.785 87.312L526.289 111.684L545.09 109.752L547.237 130.642L507.546 134.72L496.097 23.307L535.788 19.2284L537.935 40.1184Z" fill="currentColor"/>
      <path d="M580.233 61.3388C592.527 69.5513 601.389 76.7149 602.701 97.8141C603.927 117.516 597.191 128.736 578.886 129.875C560.582 131.014 551.562 123.579 549.554 91.3016L570.514 89.9976C571.54 106.486 573.67 109.159 577.582 108.915C581.495 108.672 582.159 105.825 581.742 99.1181C581.238 91.0137 579.632 87.7471 569.94 80.7755C559.227 73.166 548.05 67.1283 546.738 46.0291C545.599 27.7245 552.615 16.4872 570.221 15.3919C587.827 14.2965 596.74 24.5428 598.227 48.4367L577.267 49.7406C576.589 38.8417 574.739 36.1514 571.525 36.3513C568.311 36.5513 567.367 39.4154 567.697 44.7252C568.202 52.8295 572.034 55.8173 580.233 61.3388Z" fill="currentColor"/>
      <path d="M671.379 35.0071L652.479 35.0877L652.607 65.1874L671.507 65.1068L671.597 86.1066L652.697 86.1872L652.867 126.087L631.867 126.176L631.389 14.1775L671.289 14.0073L671.379 35.0071Z" fill="currentColor"/>
      <path d="M729.772 117.94C729.62 122.137 729.614 126.2 730.953 127.929L709.966 127.173C708.628 125.444 708.634 121.381 708.785 117.184L709.561 95.638C709.853 87.5233 707.106 86.0234 698.991 85.7312L697.515 126.725L676.528 125.969L680.559 14.0413L701.546 14.7972C725.47 15.6588 733.158 23.9209 732.346 46.4463L731.989 56.3798C731.545 68.6918 727.481 76.5306 720.733 81.0507C727.763 84.2458 730.774 90.098 730.396 100.591L729.772 117.94ZM711.36 45.6904C711.652 37.5757 708.905 36.0758 700.79 35.7835L699.747 64.7448C707.862 65.037 710.71 63.7387 711.002 55.624L711.36 45.6904Z" fill="currentColor"/>
      <path d="M769.519 17.287C786.403 18.6632 794.99 28.7743 793.158 51.2398L789.018 102.031C787.187 124.497 777.076 133.084 760.192 131.707C743.308 130.331 734.721 120.22 736.552 97.7547L740.692 46.9631C742.524 24.4976 752.635 15.9107 769.519 17.287ZM768.201 98.9298L772.114 50.9291C772.888 41.4405 772.417 38.5929 767.813 38.2176C763.208 37.8422 762.283 40.5761 761.509 50.0646L757.597 98.0654C756.823 107.554 757.293 110.402 761.898 110.777C766.503 111.152 767.428 108.418 768.201 98.9298Z" fill="currentColor"/>
      <path d="M853.981 28.1577L874.796 30.9383L859.966 141.952L839.151 139.172L845.509 91.5744L830.547 138.022L820.834 136.725L818.588 87.9781L812.23 135.575L791.415 132.795L806.245 21.7809L827.06 24.5615L831.956 90.4701L853.981 28.1577Z" fill="currentColor"/>
      <path d="M942.983 116.583L938.794 137.161L931.524 135.681L927.558 155.161L906.98 150.973L910.945 131.492L889.956 127.22L894.144 106.642L929.319 41.2234L949.897 45.4119L935.712 115.103L942.983 116.583ZM904.982 108.848L915.134 110.914L922.059 76.892L904.982 108.848Z" fill="currentColor"/>
      <path d="M966.797 49.0876L1015.16 61.1282L1010.09 81.5062C985.087 106.589 976.966 135.731 969.627 165.211L949.249 160.138C956.588 130.658 966.067 101.854 993.105 77.2785L961.723 69.4656L966.797 49.0876Z" fill="currentColor"/>
      <path d="M1050.43 69.8825C1066.67 74.6984 1073 86.358 1066.59 107.968L1052.1 156.825C1045.7 178.435 1034.04 184.762 1017.8 179.946C1001.55 175.13 995.228 163.47 1001.64 141.86L1016.12 93.0029C1022.53 71.3929 1034.19 65.0666 1050.43 69.8825ZM1044.46 90.016C1040.03 88.7026 1038.57 91.1881 1035.86 100.315L1029.41 122.059L1044.59 108.306L1046.06 103.34C1048.77 94.2129 1048.89 91.3294 1044.46 90.016ZM1023.77 159.812C1028.19 161.126 1029.66 158.64 1032.37 149.513L1038.82 127.769L1023.64 141.522L1022.17 146.488C1019.46 155.615 1019.34 158.499 1023.77 159.812Z" fill="currentColor"/>
      <path d="M1110.14 89.0837C1126.14 94.6307 1131.93 106.565 1124.55 127.862L1107.87 176.013C1100.49 197.31 1088.55 203.102 1072.55 197.555C1056.54 192.008 1050.75 180.074 1058.13 158.776L1074.82 110.626C1082.2 89.3282 1094.13 83.5368 1110.14 89.0837ZM1103.26 108.926C1098.89 107.413 1097.32 109.83 1094.2 118.825L1086.77 140.254L1102.56 127.203L1104.25 122.309C1107.37 113.314 1107.63 110.439 1103.26 108.926ZM1079.42 177.713C1083.79 179.225 1085.37 176.809 1088.48 167.814L1095.91 146.384L1080.13 159.435L1078.43 164.33C1075.31 173.325 1075.06 176.2 1079.42 177.713Z" fill="currentColor"/>
      <path d="M1161.77 166.748C1167.1 172.641 1169.59 181.164 1164.56 193.781L1162.44 199.114C1154.72 218.494 1144.31 223.086 1122.01 214.36L1102.5 206.591L1143.93 102.536L1163.44 110.305C1185.69 119.161 1188.85 129.009 1180.51 149.95L1180.15 150.861C1175.59 162.307 1168.94 166.139 1161.77 166.748ZM1161 142.182C1164 134.638 1163.22 132.819 1155.68 129.815L1147.23 151.016C1154.78 154.02 1156.6 153.237 1159.6 145.693L1161 142.182ZM1129.78 194.849C1137.32 197.853 1140.44 197.588 1143.45 190.044L1146.09 183.411C1149.09 175.867 1147.01 173.53 1139.47 170.527L1129.78 194.849Z" fill="currentColor"/>
      <path d="M1212.16 180.439L1217.75 168.063C1221.67 159.387 1222.19 156.547 1217.98 154.645C1213.77 152.744 1211.98 155.007 1208.06 163.683L1188.23 207.573C1184.31 216.249 1183.8 219.089 1188.01 220.991C1192.22 222.893 1194.01 220.629 1197.93 211.953L1203.52 199.577L1222.66 208.222L1216.49 221.874C1207.21 242.415 1194.8 247.103 1179.36 240.129C1163.93 233.156 1159.24 220.746 1168.52 200.204L1189.5 153.762C1198.77 133.221 1211.18 128.534 1226.62 135.507C1242.06 142.481 1246.75 154.89 1237.47 175.432L1231.3 189.084L1212.16 180.439Z" fill="currentColor"/>
      <path class="title-arrows" d="M53.0259 197.758L12.5249 233.641C11.6339 234.431 12.6208 235.837 13.6662 235.268L61.4332 209.259C61.9655 208.97 62.1197 208.277 61.7605 207.788L54.4945 197.914C54.146 197.44 53.466 197.368 53.0259 197.758Z" fill="#E2A358"/>
      <path class="title-arrows" d="M1250.38 210.745L1301.87 227.399C1303 227.766 1303.71 226.201 1302.69 225.59L1256.02 197.66C1255.5 197.349 1254.82 197.568 1254.58 198.125L1249.77 209.401C1249.54 209.941 1249.82 210.564 1250.38 210.745Z" fill="#E2A358"/>
      <path class="title-arrows" d="M66.9859 220.504L50.777 280.506C50.4666 281.655 52.0642 282.288 52.6247 281.238L82.04 226.124C82.3253 225.589 82.0733 224.926 81.5049 224.715L68.2984 219.827C67.7469 219.623 67.1392 219.936 66.9859 220.504Z" fill="#E2A358"/>
      <path class="title-arrows" d="M1262.89 187.17L1322.8 170.647C1323.95 170.331 1323.68 168.633 1322.49 168.684L1260.08 171.348C1259.47 171.374 1259.03 171.928 1259.14 172.524L1261.64 186.383C1261.74 186.962 1262.32 187.326 1262.89 187.17Z" fill="#E2A358"/>
      <path class="title-arrows" d="M51.1571 173.754L8.79275 172.691C7.6028 172.661 7.36591 174.363 8.51878 174.659L49.7742 185.26C50.3612 185.411 50.9463 185.009 51.0163 184.407L52.1253 174.869C52.1932 174.285 51.745 173.769 51.1571 173.754Z" fill="#E2A358"/>
      <path class="title-arrows" d="M1230.66 224.554L1251.27 261.584C1251.85 262.624 1253.43 261.964 1253.1 260.82L1241.27 219.9C1241.1 219.318 1240.46 219.018 1239.91 219.263L1231.13 223.154C1230.59 223.392 1230.37 224.04 1230.66 224.554Z" fill="#E2A358"/>
    </svg>
  </div>
  <div class="exclusives-row">
    <div class="exclusives-column left">
      <span>Gift Cards</span>
      <h3>Luxurious Gifts Timeless Taste</h3>
      <a href="javascript:;" class="button button-primary"> Shop Gift Cards </a>
    </div>
    <div class="exclusives-column right">
      <span>Subscription</span>
      <h3>Premium Flavours Monthly Surprises</h3>
      <a href="javascript:;" class="button button-primary"> Gift a Subscription </a>
    </div>
  </div>
</div>
<!-- exclusives section end -->

{% schema %}
{
  "name": "Exclusives",
  "class": "section section-exclusives",
  "tag": "section",
  "settings": [
    {
      "type": "inline_richtext",
      "id": "title",
      "default": "t:sections.multicolumn.settings.title.default",
      "label": "t:sections.multicolumn.settings.title.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        },
        {
          "value": "hxl",
          "label": "t:sections.all.heading_size.options__4.label"
        },
        {
          "value": "hxxl",
          "label": "t:sections.all.heading_size.options__5.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "select",
      "id": "brand_heading_size",
      "options": [
        {
          "value": "h4",
          "label": "Small"
        },
        {
          "value": "h3",
          "label": "Medium"
        },
        {
          "value": "h2",
          "label": "Large"
        }
      ],
      "default": "h4",
      "label": "Brand Heading Size"
    },
    {
      "type": "range",
      "id": "logo_width",
      "min": 0,
      "max": 500,
      "step": 5,
      "unit": "px",
      "label": "Logo Width",
      "default": 100
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "default": true,
      "label": "t:sections.rich-text.settings.full_width.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    },
    {
      "type": "text",
      "label": "Custome Class",
      "id": "custome_class"
    }
  ],
  "blocks": [
    {
      "type": "logo",
      "name": "Add Logo",
      "settings": [
        {
          "type": "text",
          "id": "brand_name",
          "label": "Brand Name"
        },
        {
          "type": "url",
          "id": "brand_link",
          "label": "Brand Link"
        },
        {
          "type": "image_picker",
          "id": "brand_image",
          "label": "Brand Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Exclusives"
    }
  ]
}
{% endschema %}
