.collage-wrapper-title {
  margin-top: 0;
  margin-bottom: 3rem;
}

.collage {
  display: grid;
}

.collage .collage__item > * {
  width: 100%;
}

.collage .collage__item .card__content {
  flex-grow: initial;
}
.section-collage > .isolate{
  z-index:  inherit;
}
.section-collage .collage-row{
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: var(--grid-mobile-horizontal-spacing);
  grid-row-gap: var(--grid-mobile-vertical-spacing);
  position: relative;
  z-index: 1;
}
.section-collage .collage-row .collage-card.image_with_text .collage-row-inner {
  display: grid;
  column-gap: 20px;
  align-items: center;
  height: 100%;
  min-height: 26.7rem;
}
.section-collage .collage-row .collage-card.image_with_text .collage-row-inner .collage-image{
  transition: all 0.3s ease-in-out;
  /* transform: scale(1); */
  transform: scale(0.9);
  transform-origin: bottom center;
}
.section-collage .collage-row .collage-card.image_with_text.image-position-topleft .collage-row-inner,
.section-collage .collage-row .collage-card.image_with_text.image-position-bottomleft .collage-row-inner,
.section-collage .collage-row .collage-card.image_with_text.image-position-middleleft .collage-row-inner,
.section-collage .collage-row .collage-card.image_with_text.image-position-middleright .collage-row-inner,
.section-collage .collage-row .collage-card.image_with_text.image-position-bottomleft .collage-row-inner,
.section-collage .collage-row .collage-card.image_with_text.image-position-bottomright .collage-row-inner
{
  grid-template-columns: repeat(2, 1fr);
}
.section-collage .collage-row .collage-card.image_with_text.image-position-middleright .collage-row-inner img.collage-image,
.section-collage .collage-row .collage-card.image_with_text.image-position-middlecenter .collage-row-inner img.collage-image,
.section-collage .collage-row .collage-card.image_with_text.image-position-bottomright .collage-row-inner img.collage-image{
  order: 2;
}
.section-collage .collage-row .collage-card.image_with_text.image-position-middlecenter .collage-row-inner,
.section-collage .collage-row .collage-card.image_with_text.image-position-center .collage-row-inner{
  grid-template-columns: repeat(3, 1fr);
}
.section-collage .collage-row .collage-card.image_with_text.text_position-left .collage-caption{
  text-align: left;
}
.section-collage .collage-row .collage-card.image_with_text.text_position-right .collage-caption{
  text-align: right;
}
.section-collage .collage-row .collage-card.image_with_text.image-position-bottomleft .collage-row-inner img.collage-image,
.section-collage .collage-row .collage-card.image_with_text.image-position-bottomright .collage-row-inner img.collage-image{
  align-self: flex-end;
}


.section-collage .collage-row .collage-card.image_with_text .collage-caption{
  padding: 4rem;
}
.section-collage .collage-row .collage-card.image_with_text .collage-caption h2{
  color: currentColor;
  font-weight: 700;
  font-size: 48px;
  line-height: 130%;
  letter-spacing: 0.3rem;
}
.section-collage .collage-row .collage-card.image_with_text .link{
  position: absolute;
  inset: auto -1px 13% auto;
  border-radius: 50% 0 0 50%;
  border: 1.2rem solid #fff6e0;
  background-color: #fff6e0;
  color: #fff6e0;
  transition: border 0.3s linear;
}

.section-collage .collage-row .collage-card.image_with_text .full-unstyled-link:before{
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}
.section-collage .collage-row .collage-card.image_with_text .link .link-wrap{
  background: #fff;
  border-radius: 50%;
  width: 5rem;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--theme-color);
  transition: all 0.3s ease-in-out;
}
.section-collage .collage-row .collage-card.image_with_text .link .link-wrap .inner-arrow{
  transition: all 0.3s ease-in-out;
  transform: rotate(0deg);
}
.section-collage .collage-row .collage-card.image_with_text .link .link-wrap .inner-arrow {
  color:#070707;
}
.section-collage .collage-row .collage-card.image_with_text:hover .link .link-wrap {
  background-color: #000;
}
.section-collage .collage-row .collage-card.image_with_text:hover .link .link-wrap .inner-arrow{
  transform: rotate(-45deg);
}

.section-collage .collage-row .collage-card.image_with_text:hover .collage-row-inner .collage-image{
  transform: scale(1);
}
.section-collage .collage-row .collage-card.image_with_text:hover .link .link-wrap .inner-arrow {
  color:#fff;
}


.section-collage .collage-row .collage-card.image_with_text .link svg.inner-arrow path{
  stroke: currentColor;
}
.section-collage .collage-row .collage-card.image_with_text .link .after-link{
  position: absolute;
  inset: auto -13px -67px auto;
  transform: rotate(-270deg);
  transition: all 0.3s linear;
}
.section-collage .collage-row .collage-card.image_with_text .link .before-link{
  position: absolute;
  inset: auto -13px 57px auto;
  transform: rotate(180deg);
  transition: all 0.3s linear;
}
.section-collage .collage-row .collage-card.image_with_text:hover .link {
  border-width: 1.4rem;
}
.section-collage .collage-row .collage-card.image_with_text:hover .link .before-link{
  right: -21px;
}
.section-collage .collage-row .collage-card.image_with_text .link .after-link{
  right: -15px;
}  

@media screen and (max-width: 749px) {
  .collage {
    grid-column-gap: var(--grid-mobile-horizontal-spacing);
    grid-row-gap: var(--grid-mobile-vertical-spacing);
  }

  .collage--mobile {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .collage--mobile .collage__item--left:nth-child(3n - 2) {
    grid-column: span 2;
  }

  .collage--mobile .collage__item--left:nth-child(3n - 2):nth-last-child(2) {
    grid-column: span 1;
  }

  .collage--mobile .collage__item--left:nth-child(3n) {
    grid-column-start: 2;
  }

  .collage--mobile .collage__item--right:nth-child(3n - 2) {
    grid-column-start: 1;
  }

  .collage--mobile .collage__item--right:nth-child(3n - 2):last-child {
    grid-column: span 2;
  }

  .collage--mobile .collage__item--right:nth-child(3n - 1) {
    grid-column-start: 2;
  }

  .collage--mobile .collage__item--right:nth-child(3n) {
    grid-column: 1 / span 2;
  }
}

@media screen and (min-width: 750px) {
  .collage {
    grid-auto-flow: column;
    grid-column-gap: var(--grid-desktop-horizontal-spacing);
    grid-row-gap: var(--grid-desktop-vertical-spacing);
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .collage .collage__item--left:nth-child(3n - 2) {
    grid-column: 1 / span 2;
    grid-row: span 2;
  }

  .collage .collage__item--left:nth-child(3n - 2):last-child {
    grid-column: 1 / span 3;
  }

  .collage .collage__item--left:nth-child(3n - 1),
  .collage .collage__item--left:nth-child(3n) {
    grid-column-start: 3;
  }

  .collage .collage__item--left:nth-child(3n - 1):last-child {
    grid-row: span 2;
  }

  .collage .collage__item--right:nth-child(3n - 2) {
    grid-column: 1 / span 1;
    grid-row: span 1;
  }

  .collage .collage__item--right:nth-child(3n - 2):last-child {
    grid-column: 1 / span 3;
  }

  .collage .collage__item--right:nth-child(3n - 1) {
    grid-column-start: 1;
  }

  .collage .collage__item--right:nth-child(3n-1):last-child {
    grid-column: span 2;
  }

  .collage .collage__item--right:nth-child(3n) {
    grid-column: 2 / span 2;
    grid-row: span 2;
  }

  .collage .collage__item--collection:only-child,
  .collage .collage__item--product:only-child {
    justify-self: center;
    max-width: 73rem;
    width: 100%;
  }
  
  .section-collage .collage-row{
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: var(--grid-desktop-horizontal-spacing);
    grid-row-gap: var(--grid-desktop-vertical-spacing);
  }
  .section-collage .collage-row .collage__item:nth-child(3n) {
    grid-column: 1 / span 2;
    /* grid-row: span 2; */
  }


}

.collage-card {
  height: 100%;
  position: relative;
  border-radius: var(--border-radius);
  border: var(--border-width) solid rgba(var(--color-foreground), var(--border-opacity));
  padding: var(--image-padding);
}

/* Needed for gradient continuity with or without animation, background-attachment: local scopes the gradient to its container which happens automatically when a transform is applied (animation on scroll) */
.collage-card.gradient {
  transform: perspective(0);
}

.collage-card:after {
  content: '';
  position: absolute;
  z-index: -1;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-horizontal-offset) var(--shadow-vertical-offset) var(--shadow-blur-radius)
    rgba(var(--color-shadow), var(--shadow-opacity));
  width: calc(var(--border-width) * 2 + 100%);
  height: calc(var(--border-width) * 2 + 100%);
  top: calc(var(--border-width) * -1);
  left: calc(var(--border-width) * -1);
}

.collage-card.product-card-wrapper {
  --border-radius: var(--product-card-corner-radius);
  --border-width: var(--product-card-border-width);
  --border-opacity: var(--product-card-border-opacity);
  --shadow-horizontal-offset: var(--product-card-shadow-horizontal-offset);
  --shadow-vertical-offset: var(--product-card-shadow-vertical-offset);
  --shadow-blur-radius: var(--product-card-shadow-blur-radius);
  --shadow-opacity: var(--product-card-shadow-opacity);
  --shadow-visible: var(--product-card-shadow-visible);
  --image-padding: var(--product-card-image-padding);
}

.collage-card .media {
  height: 100%;
  overflow: hidden;
  border-radius: calc(var(--border-radius) - var(--border-width) - var(--image-padding));
}

.collage-card .deferred-media {
  height: 100%;
  overflow: visible;
}

.collage-card__link {
  display: block;
  height: 100%;
}

.collage-card .deferred-media__poster {
  background-color: transparent;
  border: 0;
}

.collage-card .deferred-media__poster:after {
  content: '';
  position: absolute;
  z-index: 1;
  outline-offset: 0.3rem;
  bottom: calc(var(--border-width) * -1);
  left: calc(var(--border-width) * -1);
  right: calc(var(--border-width) * -1);
  top: calc(var(--border-width) * -1);
}

.collage-card .deferred-media__poster:focus:after {
  box-shadow: 0 0 0 0.3rem rgb(var(--color-background)), 0 0 0.5rem 0.4rem rgba(var(--color-foreground), 0.3);
  outline: 0.2rem solid rgba(var(--color-foreground), 0.5);
}

.collage-card .deferred-media__poster:focus-visible:after {
  box-shadow: 0 0 0 0.3rem rgb(var(--color-background)), 0 0 0.5rem 0.4rem rgba(var(--color-foreground), 0.3);
  outline: 0.2rem solid rgba(var(--color-foreground), 0.5);
}

.collage-card .deferred-media__poster:focus:not(:focus-visible),
.collage-card .deferred-media__poster:focus:not(:focus-visible):after {
  outline: none;
  box-shadow: none;
}

.collage-card .deferred-media__poster:focus {
  outline: none;
  box-shadow: none;
}


@media screen and (max-width: 1199px) {
  .section-collage .collage-row{
    grid-template-columns: initial;
  }
  .section-collage .collage-row .collage__item,
  .section-collage .collage-row .collage__item:nth-child(3n){
      grid-column: inherit;
      grid-row: inherit;
  }
  .section-collage .collage-row .collage-card.image_with_text.image-position-middlecenter .collage-row-inner {
    gap: 0;
  }
  .section-collage .collage-row .collage-card.image_with_text.image-position-middlecenter .collage-row-inner .collage-caption h2{
    margin-block: 0;
  }
  .section-collage .collage-row .collage-card.image_with_text.image-position-middlecenter .collage-row-inner .collage-caption {
      grid-column: 1 / span 4;
      margin-bottom: -8rem;
  }
  .section-collage .collage-row .collage-card.image_with_text.image-position-middlecenter .collage-row-inner .collage-image {
    grid-column: 1 / span 2;
    min-height: 0;
    height: auto;
    max-width: 100%;
    width: auto;
  }
}
@media screen and (max-width: 749px) {
  .section-collage .collage-row .collage-card.image_with_text.image-position-middlecenter .collage-row-inner,
  .section-collage .collage-row .collage-card.image_with_text.image-position-center .collage-row-inner,

  .section-collage .collage-row .collage-card.image_with_text.image-position-topleft .collage-row-inner, 
  .section-collage .collage-row .collage-card.image_with_text.image-position-bottomleft .collage-row-inner,
  .section-collage .collage-row .collage-card.image_with_text.image-position-middleleft .collage-row-inner,
  .section-collage .collage-row .collage-card.image_with_text.image-position-middleright .collage-row-inner,
  .section-collage .collage-row .collage-card.image_with_text.image-position-bottomright .collage-row-inner{
    grid-template-columns: none;
    min-height: 0;
  }

  .section-collage .collage-row .collage-card.image_with_text.image-position-middleright .collage-row-inner img.collage-image,
  .section-collage .collage-row .collage-card.image_with_text.image-position-middlecenter .collage-row-inner img.collage-image,
  .section-collage .collage-row .collage-card.image_with_text.image-position-bottomright .collage-row-inner img.collage-image{
    margin-left: 2rem;
  }
  

  .section-collage .collage-row .collage-card.image_with_text img{
    max-width: calc(100% - 10rem);
    height: auto;
  }
  .section-collage .collage-row .collage-card.image_with_text .collage-caption{
    padding: 2rem;
  }
  .section-collage .collage-row .collage-card.image_with_text .collage-caption h2{
    font-size: 2.4rem;
    margin: 0;
  }
}

