.featured-collection-swiper .collection__title { 
    margin-top: 0;
}
.featured-collection-swiper .full-page-width{
    padding-inline: 0;
}
.featured-collection-swiper .title.hxxl{ 
    font-style: normal;
    font-weight: 700;
    font-size: 180px;
    line-height: 120%;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.swiper-wrapper.product-grid.contains-card--product .grid_item .card__inner.ratio{
    transition: all 0.3s ease-in-out;
    transform: scale(0.85);
}
.swiper-wrapper.product-grid.contains-card--product .grid_item .card__information{
    transition: all 0.3s ease-in-out;
    opacity: 0;
    color: #592C29;
}
.swiper-wrapper.product-grid.contains-card--product .grid_item  .card__information  .card__heading {
    font-family: var(--font-body-family);
    /* overflow: hidden; */
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 0;
}
.card-wrapper.product-card-wrapper:hover a{
    text-decoration: none;
}
.swiper-wrapper.product-grid.contains-card--product .grid_item.swiper-slide-active  .card__information { 
    opacity: 1;
}
.swiper-wrapper.product-grid.contains-card--product .grid_item.swiper-slide-active .card__inner.ratio{
    transform: scale(1);
}

@media screen and (max-width: 1199px) {
    .featured-collection-swiper .title.hxxl{
        font-size: 10rem;
    }
}
@media screen and (max-width: 991px) {
    .featured-collection-swiper .title.hxxl{
        font-size: 8rem;
    }
}
@media screen and (max-width: 749px) {
    .featured-collection-swiper .title.hxxl{
        font-size: 4.8rem;
    }
}