.cart {
  position: relative;
  display: block;
}

.cart__empty-text,
.is-empty .cart__contents,
cart-items.is-empty .title-wrapper-with-link,
.is-empty .cart__footer {
  display: none;
}

.is-empty .cart__empty-text,
.is-empty .cart__warnings {
  display: block;
}

.cart__warnings {
  display: none;
  text-align: center;
  padding: 3rem 0 1rem;
}

.cart__empty-text {
  margin: 4.5rem 0 2rem;
}

.cart__contents > * + * {
  margin-top: 2.5rem;
}

.cart__login-title {
  margin: 5.5rem 0 0.5rem;
}

.cart__login-paragraph {
  margin-top: 0.8rem;
}

.cart__login-paragraph a {
  font-size: inherit;
}

@media screen and (min-width: 990px) {
  .cart__warnings {
    padding: 7rem 0 1rem;
  }

  .cart__empty-text {
    margin: 0 0 3rem;
  }
}

cart-items {
  display: block;
}

.cart__items {
  position: relative;
  padding-bottom: 3rem;
  border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.08);
}

.cart__items--disabled {
  pointer-events: none;
}

.cart__footer-wrapper:last-child .cart__footer {
  padding-bottom: 5rem;
}

.cart__footer > div:only-child {
  margin-left: auto;
}

.cart__footer > * + * {
  margin-top: 6.5rem;
}

.cart__footer .discounts {
  margin-bottom: 1rem;
}

.cart__note {
  height: fit-content;
  top: 2.5rem;
}

.cart__note label {
  display: flex;
  align-items: flex-end;
  position: absolute;
  line-height: 1;
  height: 1.8rem;
  top: -3rem;
  color: rgba(var(--color-foreground), 0.75);
}

.cart__note .field__input {
  height: 100%;
  position: relative;
  border-radius: var(--inputs-radius);
  padding: 1rem 2rem;
}

.cart__note .text-area {
  resize: vertical;
}

.cart__note:after,
.cart__note:hover.cart__note:after,
.cart__note:before,
.cart__note:hover.cart__note:before,
.cart__note .field__input:focus,
.cart__note .field__input {
  border-bottom-right-radius: 0;
}

@media screen and (min-width: 750px) {
  .cart__items {
    grid-column-start: 1;
    grid-column-end: 3;
    padding-bottom: 4rem;
  }

  .cart__contents > * + * {
    margin-top: 0;
  }

  .cart__items + .cart__footer {
    grid-column: 2;
  }

  .cart__footer {
    display: flex;
    justify-content: space-between;
    border: 0;
  }

  .cart__footer-wrapper:last-child {
    padding-top: 0;
  }

  .cart__footer > * {
    width: 35rem;
  }

  .cart__footer > * + * {
    margin-left: 4rem;
    margin-top: 0;
  }
}

.cart__ctas button {
  width: 100%;
}

.cart__ctas > * + * {
  margin-top: 1rem;
}

.cart__update-button {
  margin-bottom: 1rem;
}

.cart__dynamic-checkout-buttons {
  max-width: 36rem;
  margin: 0 auto;
}

.cart__dynamic-checkout-buttons:has(.dynamic-checkout__content:empty) {
  margin: 0;
}

.cart__dynamic-checkout-buttons div[role='button'] {
  border-radius: var(--buttons-radius-outset) !important;
}

.cart__blocks > * + * {
  margin-top: 1rem;
}

.cart-note__label {
  display: inline-block;
  margin-bottom: 1rem;
  line-height: calc(1 + 1 / var(--font-body-scale));
}

.tax-note {
  margin: 2.2rem 0 1.6rem auto;
  text-align: center;
  display: block;
}

.cart__checkout-button {
  max-width: 36rem;
}

.cart__ctas {
  text-align: center;
}

@media screen and (min-width: 750px) {
  .cart-note {
    max-width: 35rem;
  }

  .cart__update-button {
    margin-bottom: 0;
    margin-right: 0.8rem;
  }

  .tax-note {
    margin-bottom: 2.2rem;
    text-align: right;
  }

  [data-shopify-buttoncontainer] {
    justify-content: flex-end;
  }

  .cart__ctas {
    display: flex;
    gap: 1rem;
  }
}




cart-items form#cart.cart__contents .title-wrapper-with-link .title{
  text-transform: uppercase;
  font-size: 3.2rem;
  letter-spacing: 0.16rem;
}
cart-items form#cart.cart__contents .title-wrapper-with-link .underlined-link{
  font-family: 'Formula Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #BB6B02;
  text-decoration: none;
}
cart-items form#cart.cart__contents{
  background-color: #fff;
  padding: 4rem 4.5rem;
  display: grid;
  grid-template-columns: 1fr 40.6rem;
  gap: 3.2rem;
}
cart-items form#cart.cart__contents .cart__items{
  grid-column: inherit;
  padding-bottom: 0;
  border-bottom: 0 none;
}
cart-items form#cart.cart__contents .cart__footer {
  grid-column: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  gap: 32px;
  background: #FDEBBE;
  border: 1px solid #FCDB8B;
  border-radius: 8px;
}
cart-items  form#cart.cart__contents .title-wrapper-with-link{
  border-bottom: 1px solid #D2B275;
  padding-bottom: 1.6rem;
  margin-bottom: 1.6rem;
}
cart-items  form#cart.cart__contents .cart-item td{
  padding-block: 1.8rem;
}
cart-items  form#cart.cart__contents .cart-item + .cart-item td{
  border-top: 1px dashed #D2B275;
}
cart-items  form#cart.cart__contents .cart-item:last-of-type td{
  padding-bottom: 0;
}
cart-items  form#cart.cart__contents .cart-item td.cart-item__media{
  min-width: 114px;
  border-radius: 4px;
  overflow: hidden;
}
cart-items  .cart-item__quantity quantity-popover .quantity{
  border: 1px solid #070707;
}
cart-items form#cart.cart__contents .cart__footer .cart__blocks .subtotals{
  border-bottom: 1px dashed #D2B275;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #4F4F4F;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.4rem 0  ;
}
cart-items form#cart.cart__contents .cart__footer .cart__blocks .subtotals .totals__total-value {
  font-weight: bold;
  color: #070707;
}
cart-items form#cart.cart__contents .cart__footer .cart__blocks .subtotals > *{
  margin: 0;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
}
cart-items form#cart.cart__contents .cart__footer .cart__blocks .totals{
  border-bottom: 1px dashed #D2B275;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: #4F4F4F;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.4rem 0  ;
}
cart-items form#cart.cart__contents .cart__footer .cart__blocks .totals .totals__total-value {
  font-weight: bold;
  color: #070707;
  font-size: 2rem;
}
cart-items form#cart.cart__contents .cart__footer .cart__blocks .totals > *{
  margin: 0;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
}
cart-items form#cart.cart__contents .cart__footer .cart__blocks ul{
  margin: 2.4rem 0 2rem;
  padding: 0;
  list-style: none;
}
cart-items form#cart.cart__contents .cart__footer .cart__blocks ul li{
  position: relative;
  padding-left: 2.8rem;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  margin-bottom: 1.2rem;
}
cart-items form#cart.cart__contents .cart__footer .cart__blocks ul li:before{
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.6693 5.5L7.5026 14.6667L3.33594 10.5' stroke='%231B7E1E' stroke-width='1.66667' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  inset: 4px auto auto 0 ;
  width: 2rem;
  height: 2rem;
  display: block;
}
cart-items form#cart.cart__contents .cart-item td .cart-item__name.h4.break{
  /* font-family: 'Manrope'; */
  font-family: var(--font-body-family);
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 150%;
  color: #B37600;
}
cart-items form#cart.cart__contents .cart-item td .product-option{
  /* font-family: 'Formula Condensed'; */
  font-family: var(--font-body-family);
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  color: #070707;
  font-weight: 800;
  letter-spacing: 0;
}
  
cart-items form#cart.cart__contents .cart-item td .product-option s{
  font-size: 16px;
  font-weight: normal;
}
cart-items form#cart.cart__contents .cart__footer .cart__blocks ul li,
cart-items form#cart.cart__contents .cart__footer .cart__blocks .totals__total{
  color: #4F4F4F;
}

@media screen and (min-width: 750px) {
  body.cart .cart-item__quantity quantity-popover .cart-item__quantity-wrapper{
    flex-direction: column-reverse;
    row-gap: 2.0rem;
  }
  body.cart cart-items form#cart.cart__contents .cart-item td .product-option{
    margin-top: 2rem;
  }
  body.cart .cart-item__quantity quantity-popover .cart-item__quantity-wrapper{
    padding-right: 0;
  }
  body.cart cart-items form#cart.cart__contents .cart__footer .cart__blocks>h2{
    margin-bottom: 0;
  }
}

@media screen and (max-width: 749px) {
  cart-items form#cart.cart__contents{
    grid-template-columns: inherit;
    padding: 2.4rem 2rem;
  }
  cart-items  form#cart.cart__contents .cart-item td.cart-item__media{
    grid-row: 1 / 3;
  }
  .cart-item__quantity quantity-popover{
    display: block;
  }
  cart-items form#cart.cart__contents .cart-item {
      grid-template: repeat(2, auto) / repeat(3, 1fr);
  }
  cart-items  form#cart.cart__contents .cart-item td {
    padding-block: 0;
  }
  cart-items form#cart.cart__contents .cart-item + .cart-item td{
    border: 0;
  }
  cart-items form#cart.cart__contents .title-wrapper-with-link .title {
      font-size: 2.4rem;
  }
  cart-items form#cart.cart__contents .title-wrapper-with-link .underlined-link{
    font-size: 1.6rem;
  }
  cart-items form#cart.cart__contents .cart-item td .product-option{
    font-size: 20px;
  }
}



.swipersliderwrapper{
  padding-inline: 2.4rem;
  overflow: hidden;
}
.swipersliderwrapper .swiperslider{
  overflow: initial;
}



.featured-collection-swiper .swiper-navigation-button{
  width: 48px;
  height: 48px;
  background-color: transparent;
  border: 0;
  padding: 0;
}
.featured-collection-swiper .swiper-navigation-button span{
  width: 48px;
  height: 48px;
  background: #FDEBBE;
  border: 1px solid #FCDB8B;
  backdrop-filter: blur(7px);
  border-radius: 16px;
  isolation: isolate;    
  display: flex;
  justify-content: center;
  align-items: center;
}

.featured-collection-swiper .swiper-navigation-button:after{
  display: none;
}
.featured-collection-swiper .swiper-navigation-button svg{
  width: 24px;
  height: 24px;
  display: block;
  color:#070707
}
.featured-collection-swiper .swiper-navigation-button:before{
  content: "";
  position: absolute;
  background: #FFF6E0;
  border: 1px solid #000000;
  border-radius: 16px;
  z-index: 0;
  display: block;
}
.featured-collection-swiper .swiper-navigation-button.swiper-button-next{
  right: -4.8rem;
  right: -2.4rem;
}
.featured-collection-swiper .swiper-navigation-button.swiper-button-prev{
  left: -4.8rem;
  left: -2.4rem;
}

.featured-collection-swiper .swiper-navigation-button.swiper-button-prev svg{
  transform: rotate(-180deg);
}