.section.gifts {
  width: 100%;
  min-height: 100vh;
}
.sticky-wrapper {
  width: 100%;
  height: 100vh;
  position: relative;
  position: sticky;
  top: 0;
  overflow-x: clip;
}
.sticky-wrapper .ticker-section {
  position: relative;
  z-index: -1;
}
.gifts-inner {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  display: flex;
}
.gifts-inner .page-padding {
  position: absolute;
  z-index: 1;
}

.gifts-content {
  text-align: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.gifts-content .headline-large {
  font-family: "Formula Condensed";
  font-weight: 700;
  color: #592c29;
  text-transform: uppercase;
  font-size: 80px;
  line-height: 1;
  letter-spacing: 0.03em;
  position: relative;
  margin: 0 auto 3rem;
  max-width: 475px;
}
.gifts.floating-images .sticky-wrapper .ticker-section .slider-item {
  -webkit-text-fill-color: #fff0cc;
  -webkit-text-stroke: 1px;
  color: #ffe4a3;
}
.gifts.floating-images
  .sticky-wrapper
  .ticker-section
  .slider-item
  span.icon-text {
  font-size: 26rem;
}
.gifts-imgs-wrapper {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  display: flex;
  position: absolute;
  inset: 0%;
  z-index: -1;
  pointer-events: none;
}
.floating-images .floating-img-el {
  position: absolute;
}
.floating-images .floating-img-el:nth-of-type(1) {
  --translate-to: -38vw, -6vh;
}
.floating-images .floating-img-el:nth-of-type(2) {
  --translate-to: -20vw, 36vh;
}
.floating-images .floating-img-el:nth-of-type(3) {
  --translate-to: -13vw, -33vh;
}
.floating-images .floating-img-el:nth-of-type(4) {
  --translate-to: 20vw, -30vh;
}
.floating-images .floating-img-el:nth-of-type(5) {
  --translate-to: 28vw, 3vh;
}
.floating-images .floating-img-el:nth-of-type(6) {
  --translate-to: 36vw, 25vh;
}
.floating-images .floating-img-el:nth-of-type(7) {
  --translate-to: 44vw, -15vh;
}
.floating-images .floating-img-el.animate-idom{
    transition: all 0.5s linear 0.2s;
    opacity: 0;
    transform: scale(0) translateX(0)
}
.floating-images .floating-img-el.animate-idom.animate {
    opacity: 1;
    transform: scale(1) translate(var(--translate-to));
    transition-delay: 0s;
 }
@media (max-width: 1148px) {
  .gifts-content .headline-large {
    font-size: 60px;
  }
}
@media screen and (max-width: 749px) {
  .gifts-content .headline-large {
    font-size: 3.2rem;
    max-width: 24rem;
  }
  .gifts.floating-images
    .sticky-wrapper
    .ticker-section
    .slider-item
    span.icon-text {
    font-size: 7rem;
  }
}
