.section-logoslider .section-curve.section-curve-before {
    display: block;
    margin: 0 0 -1px;
}
.section-logoslider .section-curve.section-curve-before svg{
    display: block;
    width: 100%;
    height: auto;
    color: #5c0124;
}
.section-logoslider .section-curve.section-curve-after {
    margin: -1px 0 0;
    overflow: clip;
}
.section-logoslider .section-curve.section-curve-after svg{
    display: block;
    width: calc(100% + 2px);
    height: auto;
    color: #5c0124;
    margin: 0 -1px 0;
}

.section-logoslider .logo-slider-swiper {
    margin-left: calc((50vw - (var(--page-width) / 2 ) ) - 10px);
}

.section-logoslider .logo-slider-swiper .brand-item {
    width: auto;
}
.section-logoslider .logo-slider-swiper .brand-item .brand-item__image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 54px;
    max-width: 220px;
    aspect-ratio: 220/100;
    background: linear-gradient(180deg, rgba(235, 198, 149, 0.48) 0%, rgba(201, 67, 57, 0.48) 100%);
    border: 1px solid rgba(232, 200, 164, 0.4);
    border-radius: 9px;
}
.section-logoslider .logo-slider-swiper .brand-item .brand--subheading {
    text-align: center;
    margin-block: 1.6rem 0;
}



@media (max-width: 1148px){
    .section-logoslider .logo-slider-swiper .brand-item .brand-item__image{
        max-width: 220px;
    }
    .section-logoslider .logo-slider-swiper .brand-item .brand-item__image img{
        max-width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 749px) {
    .section-logoslider .logo-slider-swiper .brand-item .brand-item__image{
        max-width: 70px;
    }
    .section-logoslider .logo-slider-swiper .brand-item .brand-item__image img{
        max-width: 100%;
        height: auto;
    }
}