.article-template{
  padding-bottom: 60px;
}

.article-template__content h2{
  color: #000;
  font-size: 3.2rem;
  text-transform: uppercase;
  letter-spacing: 0.18rem;
  margin-bottom: 15px;
  margin-top: 35px;
}

.article-template__content p, .article-template__content li, .article-template__content.rte p{
  font-size: 18px;
  font-weight: 500;
  color: #000;
  letter-spacing: 0;
  margin: 0 auto;
  line-height: 30px;
}
.article-template__content img{
  margin: 3.2rem auto 1.5rem;
  width: 100%;
}
.article-template__content h3{
  font-size: 22px;
  letter-spacing: 0.25rem;
}
.article-template__content strong{
  font-weight: 800;
}
.article-template__content ul, .article-template__content ol{
  list-style-position: unset;
  padding-left: 15px;
}

@media screen and (max-width: 749px) {
  .article-template__content h2 {
    font-size: 2.4rem;
  }
  .article-template__content p, .article-template__content li, .article-template__content.rte p{
    line-height: 26px;
    font-size: 14px;
  }
  .article .breadcrumb-section{
    margin-bottom: 24px;
  }
}
