.article-template.recipe-template{
  padding-bottom: 40px;
}
.article-template.recipe-template .article-template__hero-container{
  max-width: unset;
}

.article-recipe .recipe-page-banner{

}

.article-recipe .recipe-page-banner .top-breadcrumb{
  top: 24px;
  position: absolute;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}

.article-recipe .recipe-page-banner .top-breadcrumb a{
  color:#F5CB7C;
  font-weight: 500;
  letter-spacing: 0.1rem;
}
.article-recipe .recipe-page-banner .top-breadcrumb .separator path,
.article-recipe .recipe-page-banner .top-breadcrumb .breadcrumbs__item_go_back path{
  stroke: #fff;
}

.article-recipe .recipe-page-banner .top-breadcrumb .breadcrumbs__link[aria-current=page]{
  color:#fff;
}

.article-recipe .recipe-page-banner .content-container {

}

.article-recipe .recipe-page-banner .content-container .banner__heading{
  font-size: 48px;
  letter-spacing: 0.2rem;
  margin: 0px auto 8px;
}

.article-recipe .recipe-page-banner .content-container .banner__text{
  margin-bottom: 32px;
}

.article-recipe .recipe-page-banner .content-container .banner__text p{
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0.10rem;
}

.article-recipe .recipe-page-banner .content-container .video-btn{
  background: #FFF6E0;
  color: #070707;
}

.article-recipe .recipe-page-banner .content-container .video-btn:after{
  border-color: #FFF6E0;
}

.article-recipe .recipe-page-banner .content-container .action-links{
  margin:35px auto 0;
  gap: 32px;
  display: flex;
  align-items: center;
}
.action-links .article-btn-link{
  display: flex;
  align-items: center;
  gap: 8px;
}
.action-links .article-btn-link .icon{
  background: #FBBF2C;
  padding: 8px 9px 0;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.action-links .article-btn-link .link-label{
  color: #fff;
  font-weight: 600;
  font-size: 14px;
}

@media screen and (min-width: 1400px) {
  .article-recipe .recipe-page-banner .content-container{
    width: 55%;
  }
}

.article-specification-container{
  background: #fff;
  padding: 20px 0;
}

.article-specification-container .article-specification{
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
}

.article-specification .article-specification__item{
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  width: 25%;
  border-right: 1px solid #828282;
}

.article-specification .article-specification__item:last-child{
  border: none;
}

.article-specification span.icon{
  
}

.article-specification p{
  font-size: 18px;
  color: #0a090a;
  font-weight: 600;
  margin: 0 auto;
}

.article-specification .article-specification__label{
  
}

.article-specification .article-specification__value{
  font-weight: 800;
}

.recipe-detail-container{
  padding-top: 40px;
}

.accordian-wrapper{
  margin-bottom: 16px;
}

.accordian-wrapper{

}

.instruction-list-container .instruction-list-heading h2,
.accordian-wrapper .accordian-heading{
  border:1px solid #FCDB8B;
  background: #fff;
  padding: 24px 24px 20px;
  color:#070707;
  font-family: var(--font-heading-family);
  text-transform: uppercase;
  font-size: 24px;
  width: 100%;
  text-align: left;
  font-weight: 700;
  letter-spacing: 0.18rem;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  position: relative;
  transition: all 0.5s ease-in-out;
}

.accordian-wrapper:not(.open) .accordian-heading{
  border-radius: 12px;
  /* transition: all 0.2s ease-in-out; */
}

.accordian-wrapper .accordian-heading .icon{
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 24px;
  transform: translateY(-50%);
  margin-top: 6px;
}

.accordian-wrapper .accordian-heading .icon svg{
  transform: rotate(180deg);
  transition: 0.2s all ease-in-out;
}

.accordian-wrapper.open .accordian-heading .icon svg{
  transform: rotate(0deg);
}

.accordian-wrapper .accordian-content{
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}

.accordian-wrapper .accordian-content-area{  
  background: #fff;
  border:1px solid #FCDB8B;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 20px 22px;
  border-top: none;
}

.accordian-wrapper.open .accordian-content{
  max-height: unset;
  transition: max-height 0.5s ease-in-out;
}

.accordian-wrapper .accordian-content ul{
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.accordian-wrapper.nutrition-info ul{
  list-style-type: disc;
  padding-left: 25px;
}

.accordian-wrapper .accordian-content ul li{
  
}

.accordian-wrapper .accordian-content li span{
  font-size: 18px;
  font-weight: 600;
  color: #0A090A;
}

.recipe-detail-container .grid .grid__item.{

}

@media screen and (min-width: 990px) {
  .recipe-detail-container .grid .grid__item.sidebar{
    width: calc(33.33% - var(--grid-desktop-horizontal-spacing));
    max-width: calc(33.33% - var(--grid-desktop-horizontal-spacing));
  }
  
  .recipe-detail-container .grid .grid__item.main-block{
    width: calc(66.66% - var(--grid-desktop-horizontal-spacing));
    max-width: calc(66.66% - var(--grid-desktop-horizontal-spacing));
  }
}

@media screen and (min-width: 1400px) {
  .recipe-detail-container .grid .grid__item.sidebar{
    width: calc(30% - var(--grid-desktop-horizontal-spacing));
    max-width: calc(30% - var(--grid-desktop-horizontal-spacing));
  }
  
  .recipe-detail-container .grid .grid__item.main-block{
    width: calc(70% - var(--grid-desktop-horizontal-spacing));
    max-width: calc(70% - var(--grid-desktop-horizontal-spacing));
  }
}


.instruction-list-container {

}

.instruction-list-container .instruction-list-heading h2{
  margin: 0 auto;
  background: #F5CB7C;
  border-color: #FCDB8B;
}

.instruction-list-container .instruction-list{
  background: #FDEBBE;
  border: 1px solid #FCDB8B;
  padding: 32px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border-top: none;
}

.instruction-list-container .instruction-list .instruction-block{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 30px;
  padding: 20px 0;
  border-bottom:1px dashed #D2B275;
}

.instruction-list-container .instruction-list .instruction-block:first-child{
  padding-top: 0;
}

.instruction-list-container .instruction-list .instruction-block:last-child{
  border-bottom: none;
  padding-bottom: 0;
}

.instruction-list-container .instruction-list .instruction-block .step {
  width: 20px;
}
.instruction-list-container .instruction-list .instruction-block .step span{
  color: #0A090A;
  font-size: 40px;
  font-weight: 700;
}
.instruction-list-container .instruction-list .instruction-block .instruction-text{
  width: calc(100% - 160px);
}
.instruction-list-container .instruction-list .instruction-block .instruction-text p{
  color: #0A090A;
  font-size: 18px;
  font-weight: 600;
}
.instruction-list-container .instruction-list .instruction-block .action{
  min-width: 140px;
}

.instruction-list-container .instruction-list .instruction-block .action .action-btn{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: transparent;
  border: none;
  cursor: pointer;
  margin: 0 auto;
  transition: 0.5s all ease-in-out;
}

.instruction-list-container .instruction-list .instruction-block .action .action-btn span.icon{
  display: block;
  padding: 0.55rem 0.64rem 0.46rem;
  background: #FFF9F2;
  border: 4px solid transparent;
  border-radius: 50%;
  margin-bottom: 12px;
}

.instruction-list-container .instruction-list .instruction-block .action .action-btn span.label{
  font-size: 14px;
  font-weight: 700;
  font-family: var(--font-body-family);
}

.instruction-list-container .instruction-list .instruction-block .action .action-btn.completed .icon{
  border-color: rgba(202, 149, 9, 0.6);
  background: #0A090A;
}

.instruction-list-container .instruction-list .instruction-block .action .action-btn.completed .icon path{
  stroke: rgb(255,255,255);
}

@media screen and (min-width: 1200px) {
  
}

@media screen and (min-width: 750px) and (max-width: 1199px) {

}

@media screen and (max-width: 749px) {

}