.section-featuredmedia-blogs .full-page-width,
.section-videoslider .full-page-width {
  margin-left: calc((50vw - (var(--page-width) / 2)));
}
.section-featuredmedia-blogs .slider-slide-image,
.section-featuredmedia-blogs .slider-slide-video,
.section-videoslider .slider-slide-video {
  width: 100%;
  border-radius: 16px 16px 0 0;
  border: 2px solid #070707;
  box-sizing: border-box;
  display: block;
  aspect-ratio: 285/428;
  height: auto;
  object-fit: cover;
}
.section-featuredmedia-blogs .video-title-wrapper,
.section-videoslider .video-title-wrapper {
  background: #fff;
  border-width: 0 2px 2px;
  border-style: solid;
  border-color: #070707;
  border-radius: 0 0 16px 16px;
  margin: 0;
  padding: 12px 50px;
  text-align: center;
  min-height: 6rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.section-featuredmedia-blogs .video-title-wrapper .h1 a.full-unstyled-link:after {
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  outline-offset: .3rem;
}

.section-featuredmedia-blogs .video-title-wrapper .h1,
.section-videoslider .video-title-wrapper .h1 {
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 2.9rem;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  margin: 0 auto;
  color: #070707;
}
.section-featuredmedia-blogs .swiper-slide-active .video-title-wrapper,
.section-videoslider .swiper-slide-active .video-title-wrapper {
  /* background: #592c29; */
  background: #5c0124;
}
.section-featuredmedia-blogs .swiper-slide-active .video-title-wrapper .h1,
.section-videoslider .swiper-slide-active .video-title-wrapper .h1 {
  color: #fff;
}
.section-featuredmedia-blogs .video-wrapper,
.section-videoslider .video-wrapper {
  position: relative;
}
.section-featuredmedia-blogs .vss-play-button,
.section-videoslider .vss-play-button {
  position: absolute;
  width: 48px;
  height: 48px;
  border: none;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  margin: 0;
  overflow: hidden;
  cursor: pointer;
  z-index: 2;
}
.section-featuredmedia-blogs .slider-slide-video.playing + .vss-play-button,
.section-videoslider .slider-slide-video.playing + .vss-play-button {
  display: none;
}
.section-featuredmedia-blogs video::playing,
.section-videoslider video::playing {
  border: 5px solid green;
}
.section-featuredmedia-blogs .swiper-navigation-werapper h2,
.section-videoslider .swiper-navigation-werapper h2 {
  margin: 0;
  font-size: 18rem;
  line-height: 120%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.section-featuredmedia-blogs .wrapper,
.section-videoslider .wrapper {
  display: flex;
  gap: 2.7rem;
  position: relative;
  z-index: 1;
}
.section-featuredmedia-blogs .swiper-navigation-werapper,
.section-videoslider .swiper-navigation-werapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4.4rem;
  white-space: nowrap;
  flex: 0 0 auto;
}
.section-featuredmedia-blogs .swiper,
.section-videoslider .swiper {
  flex: 1 1 auto;
  position: static;
  margin-top: 16.2rem;
  margin-bottom: -8.6rem;
}
.section-featuredmedia-blogs
  .swiper-navigation-werapper
  .swiper-navigation-buttons,
.section-videoslider .swiper-navigation-werapper .swiper-navigation-buttons {
  display: flex;
  gap: 4.4rem;
  align-items: center;
}
.section-featuredmedia-blogs .swiper-navigation-buttons,
.section-videoslider .swiper-navigation-buttons {
  position: absolute;
  inset: 50% 0 auto;
  display: flex;
  gap: 2rem;
}
.section-featuredmedia-blogs
  .swiper-navigation-buttons
  .swiper-navigation-button,
.section-videoslider .swiper-navigation-buttons .swiper-navigation-button {
  min-width: 0;
}

.shopify-section.section-featuredmedia-blogs .vectorimage,
.section-featuredmedia-blogs .vectorimag {
  position: absolute;
  transform: translate(0, 30rem);
  left: 0;
  bottom: 0;
  top: auto;
  right: auto;
}

.section-featuredmedia-blogs .section-before-curve,
.section-videoslider .section-before-curve {
  margin-bottom: 7.2rem;
}
.section-featuredmedia-blogs .section-before-curve svg,
.section-videoslider .section-before-curve svg {
  width: 100%;
  height: auto;
  fill: #feeec7;
  margin-top: -2px;
}

@media (max-width: 1600px){
  .section-featuredmedia-blogs .full-page-width,
  .section-videoslider .full-page-width {
    padding-inline: 1.5rem 0;
    margin-left: 0;
  }
  .section-featuredmedia-blogs .swiper-navigation-werapper,
  .section-videoslider .swiper-navigation-werapper{
    --section-width: 40%;
    max-width: var(--section-width);
    flex: 0 0 var(--section-width)
  }
  .section-featuredmedia-blogs .swiper-navigation-werapper h2, .section-videoslider .swiper-navigation-werapper h2{
    font-size: 14rem;
  }
}
@media screen and (max-width: 1199px) {
  .section-featuredmedia-blogs .wrapper,
  .section-videoslider .wrapper {
    display: block;
  }
  .section-featuredmedia-blogs .swiper-navigation-werapper, .section-videoslider .swiper-navigation-werapper{
    align-items: center;
  }
  .section-featuredmedia-blogs .swiper-navigation-werapper,
  .section-videoslider .swiper-navigation-werapper{
    --section-width: 100%;
    max-width: var(--section-width);
    flex: 0 0 var(--section-width)
  }
  .section-featuredmedia-blogs .swiper,
  .section-videoslider .swiper{
    margin-top: 5rem;
  }
  .shopify-section.section-featuredmedia-blogs .vectorimage, .section-featuredmedia-blogs .vectorimag,
  .section-featuredmedia-blogs .swiper-navigation-buttons, .section-videoslider .swiper-navigation-buttons{
    display: none;
  }
  
}
@media screen and (max-width: 749px) {
  .section-featuredmedia-blogs .section-before-curve, .section-videoslider .section-before-curve{
    margin-bottom: 3rem;
  }
  .section-featuredmedia-blogs .swiper-navigation-werapper,
  .section-videoslider .swiper-navigation-werapper{
    gap: 2rem 0 ;
  }
  .section-featuredmedia-blogs .swiper-navigation-werapper h2, .section-videoslider .swiper-navigation-werapper h2{
    font-size: 4.8rem;
  }
  .section-featuredmedia-blogs .video-title-wrapper,
  .section-videoslider .video-title-wrapper{
    padding: 1rem 2rem;
    min-height: 5.8rem;
  }
  .section-featuredmedia-blogs .video-title-wrapper .h1, .section-videoslider .video-title-wrapper .h1{
    font-size: 1.6rem;
    max-width: 12rem;
    margin-inline: auto;
    letter-spacing: 0.12rem;
  }
  .section-featuredmedia-blogs .swiper,
  .section-videoslider .swiper{
    margin-bottom: -8rem;
  }
}