.rich-text {
  z-index: 1;
}

.rich-text__wrapper {
  display: flex;
  justify-content: center;
  width: calc(100% - 4rem / var(--font-body-scale));
}

.rich-text:not(.rich-text--full-width) .rich-text__wrapper {
  margin: auto;
  width: calc(100% - 8rem / var(--font-body-scale));
}

.rich-text__blocks {
  width: 100%;
}

@media screen and (min-width: 750px) {
  .rich-text__wrapper {
    width: 100%;
  }

  .rich-text__wrapper--left {
    justify-content: flex-start;
  }

  .rich-text__wrapper--right {
    justify-content: flex-end;
  }

  .rich-text__blocks {
    max-width: 50rem;
  }
}

@media screen and (min-width: 990px) {
  .rich-text__blocks {
    max-width: 78rem;
  }
}

.rich-text__blocks * {
  overflow-wrap: break-word;
}

.rich-text__blocks > * {
  margin-top: 0;
  margin-bottom: 0;
}

.rich-text__blocks > * + * {
  margin-top: 2rem;
}

.rich-text__blocks > * + a {
  margin-top: 3rem;
}

.rich-text__buttons {
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
  max-width: 45rem;
  word-break: break-word;
}

.rich-text__buttons--multiple > * {
  flex-grow: 1;
  min-width: 22rem;
}

.rich-text__buttons + .rich-text__buttons {
  margin-top: 1rem;
}

.rich-text__blocks.left .rich-text__buttons {
  justify-content: flex-start;
}

.rich-text__blocks.right .rich-text__buttons {
  justify-content: flex-end;
}

.ctawith-image .section-before-curve {
  width: 100%;
  display: block;
  position: relative;
}

.ctawith-image .section-before-curve svg {
  display: block;
  width: 100%;
  height: auto;
}
.ctawith-image .section-before-curve.section-before-curve-before {
  margin-top: -87px;
}
.ctawith-image .section-before-curve.section-before-curve-after {
  margin-top: 0;
  position: relative;
  top: 44px;
  top: 0;
  background: #fff6e0;
}

.ctawith-image .rich-text .rich-text__wrapper.rich-text__wrapper--left {
  align-items: center;
}
.ctawith-image .rich-text .rich-text__wrapper.rich-text__wrapper--left .hxxl {
  font-size: clamp(calc(var(--font-heading-scale) * 5.6rem), 14vw, calc(var(--font-heading-scale) * 8rem));
  font-weight: 700;
}

.section-ticker {
  position: relative;
}
.section-ticker .image-wrapper {
  position: absolute;
  inset: 0;
  width: min-content;
  height: min-content;
  margin: auto;
  z-index: 0;
  max-width: 75%;
  aspect-ratio: 1/1;
}
.section-ticker .image-wrapper .mobile-size-fix {
  margin: auto;
  z-index: 1;
  display: block;
  position: relative;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-play-state: running;
  animation-play-state: running;
  animation-duration: 30s;
  -webkit-animation-direction: 30s;
  animation-direction: 30s;
  -webkit-animation-name: rotate-to-left;
  animation-name: rotate-to-left;
}
.section-ticker .image-wrapper .svg-text {
  width: min-content;
  height: min-content;
  position: absolute;
  inset: 0;
  margin: auto;
  z-index: 2;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-play-state: running;
  animation-play-state: running;
  animation-duration: 10s;
  -webkit-animation-direction: 10s;
  animation-direction: 10s;
  -webkit-animation-name: rotate-to-right;
  animation-name: rotate-to-right;
}
.section-ticker .image-wrapper .svg-cursor-icon {
  width: min-content;
  height: min-content;
  position: absolute;
  inset: 0;
  margin: auto;
  z-index: 3;
}
@keyframes rotate-to-left {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}
@-webkit-keyframes rotate-to-left {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

@-webkit-keyframes rotate-to-right {
  from {transform: rotate(0deg);}
  to {transform: rotate(-360deg);}
}
@keyframes rotate-to-right {
  from {transform: rotate(0deg);}
  to {transform: rotate(-360deg);}
}