.blog-filter-container{
    margin: 35px auto 50px;
}

.blog-filter-container .blog-filter-tags{
    display: flex;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    gap:20px;
    justify-content: center;
}

.blog-filter-container .blog-filter-tags li.tag-filters__item a{
    font-size: 18px;
    text-decoration: none;
    border: 1px solid #FCDB8B;
    background: #fff;
    padding: 10px 25px;
    min-width: 125px;
    display: block;
    border-radius: 32px;
    text-align: center;
    font-weight: 600;
    color: #0A090A;
}

.blog-filter-container .blog-filter-tags li.active a{
    background: #FFBE35;
}

.main-blog .title--primary{
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
    letter-spacing: 0.18rem;
}

.article-card-wrapper .card.article-card .card__inner{
    height: 480px;
    overflow: hidden;
}


.article-card-wrapper .card__inner .badges{
    z-index: 1;
}
.article-card-wrapper .card__inner .badges .timer{
    background: #070707;
    color: #fff;
    border-radius: 24px;
    padding: 6px 22px;
    width: fit-content;
    top: 16px;
    left: 16px;
    position: absolute;
}
.article-card-wrapper .card__inner .badges .timer > span{
    display: flex;
    align-items: center;
}
.article-card-wrapper .card__inner .badges .timer span span{
    margin-left: 8px;
}
.article-card-wrapper .card__inner .badges .bookmark-btn{
    top: 16px;
    right: 16px;
    position: absolute;
    border-radius: 24px;
    padding: 20px 20px;
    background: #070707;
    z-index: 99;
}
.article-card-wrapper .card__inner .badges .bookmark-btn svg{
    position: absolute;
    top: 8px;
    left: 8px;
}


@media screen and (max-width: 749px) {
    .main-blog .title--primary{
        max-width: 230px;
        font-size: 24px;
        margin: 0 auto 20px;
    }
    .blog-filter-container .blog-filter-tags li.tag-filters__item a{
        font-size: 16px;
        padding: 5px 20px;
    }
    .blog-filter-container{
        margin: 20px auto 30px;
    }
    .blog-articles{
        gap: 2.4rem;
    }
}

.blog-articles.recipes .blog-articles__article{
    border: 1px solid #FCDB8B;
    border-radius: 8px;
    overflow: hidden;
}
.blog-articles.recipes .card__content .card__information{
    background: #fff;
    text-align: center;
    padding: 22px 20px;
    border-top: 1px solid #FCDB8B;
}
.blog-articles.recipes .card__information a{
    text-decoration: none;
}
.blog-articles.recipes .card__information .card__heading {
    font-family: var(--font-body-family);
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 0;
    margin: 0 auto;
    max-width: 220px;
}
.blog-articles.recipes .card--media .video-section{
    width: 100%;
}
.blog-articles.recipes .card--media .video-section + .card__content{
    display: none;
} 

.blog-articles.recipes .blog-articles__article:hover{
    border-color: #FFBE35;
}
.blog-articles.recipes .blog-articles__article:hover .card__information{
    background: #FFBE35;
    border-color: #FFBE35;
}

