.contact img {
  max-width: 100%;
}

.contact .form__message {
  align-items: flex-start;
}

.contact .icon-success {
  margin-top: 0.2rem;
}

.contact .field {
  margin-bottom: 1.5rem;
}

.contact .grid{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0;
}

.contact .grid .grid__item.contact-info{
  width: 42%;
  max-width: none;
  flex-grow: unset;
  position: relative;
  padding: 120px 0;
}
.contact .grid .grid__item.contact-info::before{
  background: #F2B65E80;
  content: '';
  display: block;
  width: 100%;
  position: absolute;
  z-index: 0;
  height: 100%;
  transform: translateY(-50%);
  top: 50%;
}

.contact .grid .grid__item.contact-form{
  width: 58%;
  max-width: none;
  flex-grow: unset;
}

.contact-information{
  max-width: 450px;
  margin: 0 auto;
  z-index: 1;
  position: relative;
}

.information-container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  margin-bottom: 35px;
}

.information-container .icon{  
  margin-top: 5px;
}
.information-container .info{
  margin-left: 12px;
}

.information-container .info span{
  font-weight: 500;
  font-size: 14px;
}

.information-container .info a{
  text-decoration: none;
}

.information-container .info span, .information-container .info p, .information-container .info a{
  color:#592C29;
}

.information-container .info p, .information-container .info a{
  font-family: var(--font-heading-family);
  margin:0 auto;
  font-weight: 300;
  font-size: 20px;
}

.contact__fields{

}

#ContactForm .field{
  display: block;
  margin-bottom: 35px;
}

#ContactForm .field:after, #ContactForm .field:before{
  display: none;
}

#ContactForm .field .field__input{
  border: 1px solid #FCDB8B;
  border-radius: 6px;
  background: #fff;
}

#ContactForm .field .field__input:focus{
  padding: 1.5rem;
}

#ContactForm .field .field__label{
  position: relative;
  left: auto;
  top: auto;
  letter-spacing: 0;
  font-size: 14px;
  font-weight: 600;
  color: #0A090A;
  margin-bottom: 10px;
  display: block;
}

#ContactForm .field .field__label span{
  color:#FF0000;
}

#ContactForm .field ::placeholder {
  color: #81858D;
  font-size: 16px;
  opacity: 1; /* Firefox */
}

#ContactForm .field ::-ms-input-placeholder { /* Edge 12 -18 */
  color: #81858D;
  font-size: 16px;
}

.contact-form-container .button{
  min-width: 280px;
  font-size: 18px;
  height: auto;
  padding: 15px 10px 12px;
  min-height: 0;
  letter-spacing: 0.15rem;
  font-weight: 700;
}

.contact-form-container .button:before{
  border: 1px solid #070707;
  top: 4px;
  left: 4px;
  bottom: -4px;
  right: -4px;
}

/* .contact-form-container .button:hover{
  background: #FFF6E0;
  color:#070707;
} */

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  .contact-form-container{
    max-width: 550px;
    margin-left: 100px;
  }
}

@media screen and (min-width: 990px) and (max-width: 1199px) {
  .contact-form-container{
    max-width: 500px;
    margin-left: 50px;
  }
  .contact-information{
    max-width: unset;
    padding: 0 20px;
  }
}

@media screen and (min-width: 990px) {  
  .contact-form-container{
    max-width: 600px;
    margin-left: 120px;
  }
}

@media screen and (max-width: 989px) {
  .contact-form-container .title, .contact-information h2{
    font-size: 52px;
  }
  .contact-information h2{
    margin: 0 auto 25px;
  }
  .contact .grid{
    flex-wrap: wrap;
  }
  .contact .grid .grid__item.contact-info, .contact .grid .grid__item.contact-form{
    width: 100%;
  }
  .contact .grid .grid__item.contact-info{
    padding: 60px 0 25px;
  }
  .contact-form-container{
    padding: 50px 25px 10px;
  }
  .contact-information{
    padding: 0 25px;
  }
}

@media screen and (min-width: 750px) and (max-width: 989px) {
  .contact-information{
    display: flex;
    max-width: max-content;
    padding: 0 20px;
    flex-wrap: wrap;
  }
  .contact-information .inline-richtext{
    width: 100%;
    text-align: center;
  }
  .contact-information .information-container{
    width: 33.33%;
  }
}

@media screen and (min-width: 750px) {
  .contact .field {
    margin-bottom: 2rem;
  }
}

.contact__button {
  margin-top: 3rem;
}

@media screen and (min-width: 750px) {
  .contact__button {
    margin-top: 4rem;
  }
}

@media screen and (min-width: 750px) {
  .contact__fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
  }
}

@media screen and (max-width: 749px) {
  .contact-form-container .title, .contact-information h2{
    font-size: 40px;
  }
  .contact .grid .grid__item.contact-info{
    padding: 45px 0 25px;
  }
  .contact-information{
    margin: 0;
    padding: 0 20px;
    max-width: unset;
  }
  .contact-form-container{
    padding: 45px 20px 0;
  }
  .information-container{
    margin-bottom: 20px;
  }
  .information-container .info p, .information-container .info a{
    font-size: 18px;
  }
  .contact-form-container .button{
    width: 100%;
  }
}