.section-testimonial-mediaslider .title-wrapper--no-top-margin {
  margin-bottom: 6rem;
}
.section-testimonial-mediaslider .title-wrapper--no-top-margin .subheading {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 130%;
  text-align: center;
  color: #7e1516;
  margin: 0;
}
.section-testimonial-mediaslider .title-wrapper--no-top-margin .title.hxxl {
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 120%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #070707;
  margin: 0;
}
.section-testimonial-mediaslider .testimonial-mediaslider-swiper {
  max-width: 120rem;
  margin-inline: auto;
  /* padding: 0 2.4rem; */
  position: relative;
}

.section-testimonial-mediaslider .blockquote-info{
    padding: 2.4rem 1.2rem;
}
.section-testimonial-mediaslider .auther_img_wrap {
  display: grid;
  grid-template-columns: 5.2rem 1fr;
  gap: 0 16px;
  align-items: flex-start;
  margin-bottom: 1.2rem;
}
.section-testimonial-mediaslider .auther_img_wrap .auther_img {
  /* grid-column: 1 / span 2; */
  grid-row: span 2;
}
.section-testimonial-mediaslider .auther_img_wrap .auther_img img {
  width: 4.8rem;
  height: 4.8rem;
  border: 2px solid #e19523;
  border-radius: 50%;
  display: block;
  margin: 0;
}
.section-testimonial-mediaslider .auther_img_wrap h3 {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: normal;
  letter-spacing: 0.03em;
  color: #070707;
  margin: 0;
  text-align: left;
  display: block;
}
.section-testimonial-mediaslider .auther_img_wrap .stars-review {
  display: flex;
  align-items: center;
  gap: 4px;
}
.section-testimonial-mediaslider .auther_img_wrap .stars-review svg {
  display: block;
  width: 2rem;
  height: auto;
  aspect-ratio: 1 / 1;
  color: #e19523;
}
.section-testimonial-mediaslider .rte p {
  margin-top: 0;
  font-size: 18px;
  font-weight: 500;
  color: #070707;
  line-height: 150%;
}

.section-testimonial-mediaslider .swiper-navigation-buttons .swiper-navigation-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 16px;
    background: rgba(53, 52, 52, 0.6);
    backdrop-filter: blur(7px);
    border-radius: 16px;
    width: 4.8rem;
    height: 4.8rem;
    opacity: 1;
}
.section-testimonial-mediaslider .swiper-navigation-buttons .swiper-navigation-button.swiper-button-disabled {
    opacity: 0.4;
}
.section-testimonial-mediaslider
  .swiper-navigation-buttons
  svg.icon.icon-caret {
  display: block;
  margin: 0;
  padding: 0;
  width: 2.4rem;
  height: 2.4rem;
}
.section-testimonial-mediaslider
  .swiper-navigation-buttons
  .swiper-navigation-button::after {
  display: none;
}

.section-testimonial-mediaslider
  .swiper-navigation-buttons
  .swiper-navigation-button.swiper-button-prev {
    inset: 0 auto 32% -24px;
    margin: auto;
}

.section-testimonial-mediaslider
  .swiper-navigation-buttons
  .swiper-navigation-button.swiper-button-next {
    transform: rotate(180deg);
    inset: 0 -24px 32% auto;
    margin: auto;
}
.swiper-backface-hidden .swiper-slide .blockquote-wrapper img{
    border-radius: 1.6rem;
    overflow: auto;
    max-width: 100%;
    height: auto;
}

.swiper-backface-hidden .swiper-slide.video-slide .blockquote-wrapper {
  position: relative;
}
.swiper-backface-hidden .swiper-slide.video-slide .blockquote-wrapper .vss-play-button {
  position: absolute;
  width: 48px;
  height: 48px;
  border: none;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  margin: 0;
  overflow: hidden;
  cursor: pointer;
}
.swiper-backface-hidden .swiper-slide.video-slide .playing + .vss-play-button {
  display: none;
}
.swiper-backface-hidden .swiper-slide.video-slide .blockquote-wrapper video::playing {
  border: 5px solid green;
}
.swiper-backface-hidden .swiper-slide .blockquote-wrapper .slider-slide-video{
  border-radius: 1.6rem;
  overflow: auto;
  aspect-ratio: 285/370;
  height: auto;
  width: 100%;
  object-position: center;
  object-fit: cover;
}

@media (max-width: 1148px){
  .section-testimonial-mediaslider .title-wrapper--no-top-margin .subheading{
    font-size: 1.6rem;
  }
  .section-testimonial-mediaslider .title-wrapper--no-top-margin .title.hxxl {
    font-size: 4.6rem;
  }
  .section-testimonial-mediaslider .title-wrapper--no-top-margin{
    margin-bottom: 2.6rem;
  }
  .section-testimonial-mediaslider .swiper-navigation-buttons .swiper-navigation-button.swiper-button-next{
    right: 0;
  }
  .section-testimonial-mediaslider .swiper-navigation-buttons .swiper-navigation-button.swiper-button-prev{
    left: 0;
  }
}
@media screen and (max-width: 749px) {
  .section-testimonial-mediaslider .title-wrapper--no-top-margin .title.hxxl {
    font-size: 3.2rem;
  }
}